@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,300&family=Oswald:wght@500&display=swap');
@import "../scss/components/header";
@import "../scss/components/index";
@import "../scss/components/footer";
@import "../scss/components/dulce";
@import "../scss/components/salado";
@import "../scss/components/catering";
@import "../scss/components/cursos";
@import "../scss/components/specific-curso";
@import "../scss/components/regalos";
@import "../scss/components/formulario";
@import "../scss/components/post-formulario";
@import "../scss/base/colors";
@import "../scss/base/extend";

body{
    background-color: rgba(207, 207, 207, 0.712);
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}


.disclaimer {
    display: none;
}