/*Inicio Cursos*/

.cursos-listing {
    position: relative;
  }
  
  .cursos-image {
    line-height: 0;
    overflow: hidden;
    position: relative;
    top: 30px;

    img {
        filter: blur(0px);
        transition: filter 0.3s ease-in;
        transform: scale(1.1);
    }
  }
  
  .cursos-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 71%;
    width: 90%;
    top: 10%;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(0, 0, 0, 0.158);
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cursos-listing:hover .cursos-title {
    opacity: 1;
  }
  
  .cursos-listing:hover .cursos-image img {
    filter: opacity(.10);
}




.cursos-container-arriba{
   @extend %seccion-container;
    
   div{
        @extend %curso-container;
    }
}


.torta-image{
    @extend %curso-image;
    }


.cookies-image{
   @extend %curso-image;
}


.torta-titulo{
    @extend %nombre-style;
}

.cookies-titulo{
    @extend %nombre-style;
}


.torta-boton{
    @extend %boton-curso;
}

.torta-boton:hover, .torta-boton:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);      
    background-color: $color-principal;
}

.cookies-boton{
    @extend %boton-curso;
}

.cookies-boton:hover, .cookies-boton:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);      
    background-color: $color-principal;
}


.cursos-container-abajo{
    @extend %seccion-container;
    
   div{
        @extend %curso-container;
    }
}




.bombones-image{
    @extend %curso-image;  
}

.postres-image{
    @extend %curso-image;
}

.bombones-titulo{
    @extend %nombre-style;
}

.postres-titulo{
    @extend %nombre-style;
}

.bombones-boton{
    @extend %boton-curso;
    
}

.bombones-boton:hover, .bombones-boton:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);      
    background-color: $color-principal;
}


.postres-boton{
   @extend %boton-curso;

}

.postres-boton:hover, .postres-boton:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);      
    background-color: $color-principal;
}

.boton{
    margin-top: 15%;
}


@media (max-width: 768px) {
    
    .cursos-title{
        height: 66%;
        width: 68%;
        left: 16%;
        top: 6%;    
    }

    .cursos-container-arriba{
        flex-direction: column;

        div {
            display: block;
            margin: 10px auto;
            padding: 0px 10px;
            width: 75vh;
            height: 80vh;
        }
        
    }

    .cursos-container-abajo{
        
        flex-direction: column;

        div {
            display: block;
            margin: 10px auto;
            padding: 0px 10px;
            width: 75vh;
            height: 80vh;
        }
    }

    .torta-image{
        width: 70%;
        height: 65%;
        margin-top: 15px;
    }

    .cookies-image{
        width: 70%;
        height: 65%;
        margin-top: 15px;
    }

    .bombones-image{
        width: 70%;
        height: 65%;
        margin-top: 15px;
    }

    .postres-image{
        width: 70%;
        height: 65%;
        margin-top: 15px;
    }

     
    .cursos-listing{
        z-index: 1;
        }
}

/* Fin cursos*/