

/*Inicio Cursos*/

.cursos-listing {
    position: relative;
  }
  
  .cursos-image {
    line-height: 0;
    overflow: hidden;
    position: relative;
    top: 30px;
  }
  
  .cursos-image img{
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
 }
  
  .cursos-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 73%;
    width: 89%;
    top: 13%;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(0, 0, 0, 0.158);
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cursos-listing:hover .cursos-title {
    opacity: 1;
  }
  
  .cursos-listing:hover .cursos-image img {
    filter: opacity(.10);
}




.cursos-container-arriba{
    @extend %seccion-container;

    div {
        @include seccion-div;
    }
}



.torta-image{
    @include imagenes;
    }


.cookies-image{
    @include imagenes;
    
}


.torta-titulo{
    @extend %nombre-style;
    font-size: 150%;
}

.cookies-titulo{
    @extend %nombre-style;
    font-size: 150%;
}


.torta-boton{
    @include boton-curso;
}

.torta-boton:hover, .torta-boton:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);      
    background-color: #4b9ab4;
}

.cookies-boton{
    @include boton-curso;
}

.cookies-boton:hover, .cookies-boton:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);      
    background-color: #4b9ab4;
}


.cursos-container-abajo{
    @extend %seccion-container;


    div {
        @include seccion-div
    }
}




.bombones-image{
    @include imagenes; 
}

.postres-image{
    @include imagenes;
}

.bombones-titulo{
    @extend %nombre-style;
    font-size: 150%;
}

.postres-titulo{
   @extend %nombre-style;
   font-size: 150%;
}

.bombones-boton{
    @include boton-curso;
    
}

.bombones-boton:hover, .bombones-boton:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);      
    background-color: #4b9ab4;
}


.postres-boton{
  @include boton-curso;
}

.postres-boton:hover, .postres-boton:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);      
    background-color: #4b9ab4;
}

.boton{
    margin-top: 10%;
}

@media (max-width: 1600px){
    .cursos-title{
        height: 75%;
        width: 90%;
        top: 12%;
        left: 5%;
    }
}

@media (max-width: 1200px){
    .cursos-title{
        height: 77%;
        width: 92%;
        top: 11%;
        left: 4%;
    }
}

@media (max-width: 1000px){
    .cursos-title{
        height: 80%;
        width: 92%;
        top: 9%;
        left: 4%;
    }
}

@media (max-width: 768px) {
    .cursos-container-arriba{
        flex-direction: column;

        div {
            @include div-media
        }
        
    }

    .cursos-container-abajo{
        
        flex-direction: column;

        div {
            @include div-media
        }
    }


    .torta-image, .cookies-image, .bombones-image, .postres-image{
        @include media-img
    }

       .cursos-title{
        height: 66%;
        width: 68%;
        top: 12%;
        left: 16%;
    }
 
    .cursos-listing{
        z-index: 1;
        
    }
}

@media (max-width: 576px){
    
    .cursos-container-arriba div{
        width: 47vh;
        height: 42vh;
        padding: 0px;
    }

    .cursos-container-abajo div{
        width: 47vh;
        height: 42vh;
        padding: 0px;
    }

    
}


@media (max-width: 400px){
  

    .cursos-container-arriba div{
        width: 25vh;
        height: 25vh;
       
    }

    .cursos-container-abajo div{
        width: 25vh;
        height: 25vh;
        
    }

    .cookies-titulo, .torta-titulo, .postres-titulo, .bombones-titulo{
        font-size: 80%;
    }

    @media (max-width: 250px){
        .cursos-container-arriba div{
            width: 15vh;
            height: 15vh;
            
        }
    
        .cursos-container-abajo div{
            width: 15vh;
            height: 15vh;
            
        }
    }

}


