

/*Inicio Cursos*/

.cursos-listing {
    position: relative;
  }
  
  .cursos-image {
    line-height: 0;
    overflow: hidden;
    position: relative;
    top: 30px;
  }
  
  .cursos-image img{
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
 }
  
  .cursos-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 71%;
    width: 90%;
    top: 10%;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(0, 0, 0, 0.158);
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cursos-listing:hover .cursos-title {
    opacity: 1;
  }
  
  .cursos-listing:hover .cursos-image img {
    filter: opacity(.10);
}




.cursos-container-arriba{
    display: flex;
    background-color: #4b9ab4;
    margin: 20px;
    justify-content:space-around;

    div {
        color: #fff;
    padding: 2%;
    background-color: #4b4a4a;
    margin: 10px;
    border: 1px solid grey;
    width: 80vh;
    height: 70vh;
    }
}



.torta-image{
    width: 100%;
    height: 80%;
    box-shadow: 0 5px 5px 0 rgba(0, 0,0 , .4);
    display: block;
    margin: 0 auto;
    transition: all 0.8s;;
    }


.cookies-image{
    width: 100%;
    height: 80%;
    box-shadow: 0 5px 5px 0 rgba(0, 0,0 , .4);
    display: block;
    margin: 0 auto;
    transition: all 0.8s;
    
}


.torta-titulo{
    text-align: center;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.cookies-titulo{
    text-align: center;
    font-size: 150%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: italic;
}


.torta-boton{
    display: block;
    margin: 0 auto;
    
    padding: 0 16px;
    border-radius: 2px;
    background-color: #ffffffd8;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),;
        

    height: 36px;
    line-height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90%;
    font-weight: 500;
    letter-spacing: 1%;
    text-transform: uppercase;
    
    border-radius: 5px;
}

.torta-boton:hover, .torta-boton:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);      
    background-color: #4b9ab4;
}

.cookies-boton{
    display: block;
    margin: 0 auto;
    
    padding: 0 16px;
    border-radius: 2px;
    background-color: #ffffffd8;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),;
        
    height: 36px;
    line-height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90%;
    font-weight: 500;
    letter-spacing: 1%;
    text-transform: uppercase;

    border-radius: 5px;
}

.cookies-boton:hover, .cookies-boton:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);      
    background-color: #4b9ab4;
}


.cursos-container-abajo{
    display: flex;
    background-color: #4b9ab4;
    margin: 20px;
    justify-content:space-around;

    div {
    color: #fff;
    padding: 2%;
    background-color: #4b4a4a;
    margin: 10px;
    border: 1px solid grey;
    width: 80vh;
    height: 70vh;
    }
}




.bombones-image{
    width: 100%;
    height: 80%;
    box-shadow: 0 5px 5px 0 rgba(0, 0,0 , .4);
    display: block;
    margin: 0 auto;  
}

.postres-image{
    width: 100%;
    height: 80%;
    box-shadow: 0 5px 5px 0 rgba(0, 0,0 , .4);
    display: block;
    margin: 0 auto;
}

.bombones-titulo{
    text-align: center;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.postres-titulo{
    text-align: center;
    font-size: 150%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: italic;
}

.bombones-boton{
    display: block;
    margin: 0 auto;
    
    padding: 0 16px;
    border-radius: 2px;
    background-color: #ffffffd8;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),;
        

    height: 36px;
    line-height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90%;
    font-weight: 500;
    letter-spacing: 1%;
    text-transform: uppercase;

    border-radius: 5px;
    
}

.bombones-boton:hover, .bombones-boton:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);      
    background-color: #4b9ab4;
}


.postres-boton{
    display: block;
    margin: 0 auto;
    
    padding: 0 16px;
    border-radius: 2px;
    background-color: #ffffffd8;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),;
        
    height: 36px;
    line-height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90%;
    font-weight: 500;
    letter-spacing: 1%;
    text-transform: uppercase;

    border-radius: 5px;
}

.postres-boton:hover, .postres-boton:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);      
    background-color: #4b9ab4;
}

.boton{
    margin-top: 15%;
}


@media (max-width: 768px) {
    .cursos-container-arriba{
        flex-direction: column;

        div {
            display: block;
            margin: 10px auto;
            padding: 0px 10px;
            width: 55vh;
            height: 50vh;
        }
        
    }

    .cursos-container-abajo{
        
        flex-direction: column;

        div {
            display: block;
            margin: 10px auto;
            padding: 0px 10px;
            width: 55vh;
            height: 50vh;
        }
    }


    .torta-image{
        width: 70%;
        height: 65%;
        margin-top: 15px;
    }

    .cookies-image{
        width: 70%;
        height: 65%;
        margin-top: 15px;
    }

    .bombones-image{
        width: 70%;
        height: 65%;
        margin-top: 15px;
    }

    .postres-image{
        width: 70%;
        height: 65%;
        margin-top: 15px;
    }

    .cursos-title{
        height: 66%;
        width: 68%;
        top: 10%;
        left: 16%;
    }
 
    .cursos-listing{
        z-index: 1;
        
    }
}
