/*Inicio regalos*/

.armamos{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 8%;
    font-size: 120%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique
}

.regalo-container{
   @extend %seccion-container;

    div {
        @include seccion-div;
    }
}


.caja-image{
    @include imagenes;
}

.caja-titulo{
    @extend %nombre-style;
    font-size: 150%;
}


.box-image{
    @include imagenes;
}

.box-titulo{
    @extend %nombre-style;
    font-size: 150%;
}

@media (max-width: 768px) {
    .regalo-container{
        flex-direction: column;
          
        div {
            @include div-media
        
        }
    }

   .caja-image, .box-image{
        @include media-img;
   }

   

}

@media (max-width: 576px){
    
    .regalo-container div{
        width: 47vh;
        height: 42vh;
        padding: 0px;
    }

}

@media (max-width: 400px){
    
    .regalo-container div{
        width: 25vh;
        height: 25vh;
        padding: 0px;
    }
    .caja-titulo, .box-titulo{
        font-size: 80%;
    }
}

@media (max-width: 250px){
    .regalo-container div{
        width: 15vh;
        height: 15vh;
        
    }

   
}

/*Fin regalos*/
