/*Inicio regalos*/

.armamos{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 8%;
    font-size: 120%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique
}

.regalo-container{
    display: flex;
    background-color: #4b9ab4;
    margin: 20px;
    justify-content:space-around;
}

.regalo-container div{
    color: #fff;
    padding: 2%;
    background-color: #4b4a4a;
    margin: 10px;
    border: 1px solid grey;
    width: 80vh;
    height: 70vh;
}

.caja-image{
    width: 80%;
    height: 75%;
    box-shadow: 0 5px 5px 0 rgba(0, 0,0 , .4);
    display: block;
    margin: 0 auto; 
}

.caja-titulo{
    text-align: center;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.caja-parrafo{
    margin-top: 10%;
}


.box-image{
    width: 80%;
    height: 75%;
    box-shadow: 0 5px 5px 0 rgba(0, 0,0 , .4);
    display: block;
    margin: 0 auto; 
}

.box-titulo{
    text-align: center;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.box-parrafo{
    margin-top: 10%;
}

@media (max-width: 768px) {
    .regalo-container{
        flex-direction: column;
          
        div {
            display: block;
            margin: 15px auto;
            padding: 0px 10px;
            width: 70vh;
            height: 70vh;
        
        }
    }

   .caja-image{
        margin-top: 15px;
   }

   .box-image{
        margin-top: 15px;

   }

}

/*Fin regalos*/
