/*Inicio sección salado*/

.salado-container-arriba{
    @extend %seccion-container;

    div {
        @include seccion-div;
    }
}

.chipa-image{
    @include imagenes;
}

.scon-image{
    @include imagenes;
}

.chipa{
    @extend %nombre-style;
    font-size: 150%;
}

.scon{
    @extend %nombre-style;
    font-size: 150%;
}



.salado-container-abajo{
    @extend %seccion-container;

    div {
        @include seccion-div;
    }
}

.palitos-image{
    @include imagenes;
}

.tostadas-image{
    @include imagenes;
}

.palitos{
    @extend %nombre-style;
    font-size: 150%;
}

.tostadas{
    @extend %nombre-style;
    font-size: 150%;
}


@media (max-width: 768px) {
    .salado-container-arriba{
        flex-direction: column;

        div {
            @include div-media
        }
    }

    .salado-container-abajo{
        flex-direction: column;

        div {
            @include div-media
        }
    }

      
    .chipa-image, .scon-image, .palitos-image, .tostadas-image{
        @include media-img
    }

        
}

@media (max-width: 576px){
  

    .salado-container-arriba div{
        width: 47vh;
        height: 42vh;
        padding: 0px;
    }

    .salado-container-abajo div{
        width: 47vh;
        height: 42vh;
        padding: 0px;
    }

}

@media (max-width: 400px){
  

    .salado-container-arriba div{
        width: 25vh;
        height: 25vh;
        
    }

    .salado-container-abajo div{
        width: 25vh;
        height: 25vh;
        
    }

    .palitos, .tostadas, .chipa, .scon{
        font-size: 80%;
    }

}

@media (max-width: 250px){
    .salado-container-arriba div{
        width: 15vh;
        height: 15vh;
        
    }

    .salado-container-abajo div{
        width: 15vh;
        height: 15vh;
        
    }
}

/*Fin salado*/
