@import "../base/colors";

%seccion-container{
    display: flex;
    background-color: #4b9ab4;
    margin: 20px;
    justify-content:space-around;
}


%nombre-style {
    text-align: center;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

